{% extends "base.html" %}

{% block title %}Send us a message!{% endblock %}

{% block subtitle %}This message will be send to our e-mail{% endblock %}

{% block content %}
	<div id="contact" class="5grid">
		<div class="row">
			<div class="12u">
				<form method="get">
					<div class="5grid">
						<div class="row">
							<div class="12u">
								<p class="success-message">Your email has been successfully sent. Thank you.</p>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}