{% extends "base.html" %}

{% block title %}Send us a message!{% endblock %}

{% block subtitle %}This message will be send to our e-mail{% endblock %}

{% block content %}
	<div class="5grid">
		<div class="row">
			<div class="12u">
				<form method="post" action="#">
					<div class="5grid">
						<div class="row">
							<div class="6u">
								<input type="text" name="name" id="name" placeholder="Name" />
							</div>
							<div class="6u">
								<input type="text" name="email" id="email" placeholder="Email" />
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<input type="text" name="subject" id="subject" placeholder="Subject" />
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<textarea name="message" id="message" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<input type="submit" class="button button-alt" value="Send" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}