{% extends "base.html" %}

{% block js %}
<script src="{{ STATIC_URL }}js/jquery.qtip.min.js"></script>
<script src="{{ STATIC_URL }}js/wordlookup.js"></script>
{% endblock %}

{% block title %}{{ work.title }}{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
	<div id="chapter">
		<table id="chapter-table">
		
		<tr>
			<th>
				<h2>{{ chapteroriginal.title }}</h2>
			</th>
			<th>
				<h2>{{ chapter.title }}</h2>
			</th>
		</tr>
		
		{% for paragraph_original, paragraph_translated in chapter_paragraphs %}
		<tr class="box box-style1">
			<td class="paragraf-original">
			    <p>{{ paragraph_original }}</p>
			</td>
			<td class="paragraf-translated">
			    <p>{{ paragraph_translated }}</p>
			</td>
		</tr>
		{% endfor %}
		
		</table>
	</div>
{% endblock %}