{% extends "base.html" %}

{% block title %}{{ work.title }}{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
	<div id="chapter">
		<table border="0">
		
		<tr>
			<th>
				<h2>{{ chapteroriginal.title }}</h2>
			</th>
			<th>
				<h2>{{ chapter.title }}</h2>
			</th>
		</tr>
		
		{% for paragraph_original, paragraph_translated in chapter_paragraphs %}
		<tr class="box box-style1">
			<td class="paragraf-original">
			    {{ paragraph_original }}
			</td>
			<td class="paragraf-translated">
			    {{ paragraph_translated }}
			</td>
		</tr>
		{% endfor %}
		
		</table>
	</div>
{% endblock %}