{% extends "base.html" %}

{% block title %}{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
	<div id="worklanguage">
		<table border="1">
		
			<tr class="worklanguageheader">
				<th>
					<h2>{{ worklanguageoriginal_title }}</h2>
				</th>
				<th>
					<h2>{{ worklanguage_title }}</h2>
				</th>
			</tr>
			
			{% for chapter_original, chapter_translated in chapters %}

				<tr class="box box-style1">
					<td>
	    				<a href="/reader/{{ chapter_original.id }}/{{ chapter_translated.id }}/">{{ chapter_original.title }}</a>
					</td>
					<td>
	    				<a href="/reader/{{ chapter_translated.id }}/{{ chapter_original.id }}/">{{ chapter_translated.title }}</a>
					</td>
				</tr>
			
			{% endfor %}

		</table>
	</div> 
{% endblock %}