{% extends "base.html" %}

{% block title %}Works{% endblock %}

{% block subtitle %}Works page{% endblock %}

{% block content %}
				<div class="5grid-layout">
					<div class="row">
						<div class="12u">
						</div>
					</div>
					<div class="row">
					{% for work in latest_work_list %}
						<div class="4u">
							<article class="box box-style1">
								<a href="/explorer/{{ work.id }}" class="image image-full"><img src="static/images/portfolio01.jpg" alt="" /></a>
								<h3><a href="/explorer/{{ work.id }}">{{ work.title }}</a></h3>
								<p>{{ work.title }}</p>
							</article>
						</div>
				    {% endfor %}
					</div>
				</div>
{% endblock %}